<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    <div class="container my-5 py-5">
        <div class="d-flex flex-column align-items-center">
            <img src="https://cs12.pikabu.ru/post_img/2021/11/24/10/1637771911125984617.jpg"
                alt="us"/>
        </div>
    </div>
    {{>footer}}
</body>
</html>